/* 768px a  */
.card {
    margin:  2rem 0;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    width: 100%;
}

.link__featured {
    /* width: 50%; */
}

.card__featured {
    width: 100%;
}

.card__title {
    font-family: 'Montserrat', sans-serif ;
}

.card__excerpt {
    margin: 1rem 0;
}

.card__excerpt p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.card__excerpt a:link, a:visited, a:active {
    text-decoration: none;
}

.card__btn-container {
    margin: 1.2rem 0;
}

.card__btn {
    text-decoration: none;
    background-color: #61dafb;
    background-color: #e7e7e7;
    padding: .5rem;
    color: #000;
    font-family: 'Roboto';
    font-weight: 300;
}

@media(min-width: 500px) {
    .card {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }

    .card__featured {
        height: 100%;
        width: 15rem;
        object-fit: contain;
    }
}
