.post {
    margin: 5rem 1rem;
}

.post img, .post pre {
    width: 100%;
    object-fit: contain;
}

.post p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
}

.post h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 1rem 0;
}

.post h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 1rem 0;
}

.post__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.post__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem 0;
}

.post__info-author, .post__info-date {
    font-family: 'Roboto', sans-serif;

    font-weight: 100;
}

@media(min-width: 500px) {
    .post {
        margin: 1rem 5rem;
    }
}


@media(min-width: 1000px) {
    .post {
        margin: 1rem 15rem;
        padding: 1rem 5rem;
    }
}